USE [master]
GO
/****** Object:  Database [ShoppingList]    Script Date: 3/28/2021 3:55:00 PM ******/
CREATE DATABASE [ShoppingList]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShoppingList', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ShoppingList.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShoppingList_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ShoppingList_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShoppingList].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShoppingList]
GO
/****** Object:  User [dd_user]    Script Date: 3/28/2021 3:55:00 PM ******/
CREATE USER [dd_user] FOR LOGIN [dd_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [dd_user]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 3/28/2021 3:55:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](100) NULL,
	[ShopName] [nvarchar](100) NULL,
	[DateAdded] [nvarchar](50) NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
